node_modules/
*.tmp
package-lock.json
package.json
.claude/
.gitmodules
.rtk/
AMBACI VIENNA/
AMBACI VIENNA MOBILE/
WEB DESIGN MINDSET/
CLAUDE.md

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
